*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: navajowhite;
}
h1{
    text-align: center;
    margin: 10px 0px;
}
.mj-main-container{
    width: 18vw;
    height: auto;
    margin: 50px auto;
    background:fixed;
}
.mj-value input{
    width: 100%;
    height: 40px;
    font-size: 16px; 
    padding: 2px;  
}
.mj-operators{
    display: flex;
    justify-content: space-between;
}
button{
    width: 43px;
    height: 40px;
    font-size: 15px;
    border-radius: 50px;
    margin: 20px 0px 0px 0px;
    color: navajowhite;
    background-color: #3a4452;
    box-shadow: 0px 0px 4px 1px #647791;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #647791;
    transition: 0.5s;
}
.arithmetic{
    background-color: #fb7c14;
}
@media(max-width:1000px){
    body{
        height: 200vh;
    }
    .mj-main-container{
        width: 22vw;
    }
}
@media (max-width:680px){
    body{
        height: 200vh;
    }
    .mj-main-container{
        width: 30vw;
    }
}
@media (max-width:590px){
    body{
        height: 200vh;
    }
    .mj-main-container{
        width: 40vw;
    }
}
@media(max-width:490px){
    body{
        height: 200vh;
    }
    .mj-main-container{
        width: 45vw;
    }
}
@media (max-width: 375px){
    body{
        height: 200vh;
    }
    .mj-main-container{
        width: 60vw;
    }
}